  
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Transporte Discovery</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="/" >Inicio</a></li>
                <li class="active" ><a href="horarios">Horarios</a></li>
                <li><a href="recibo">E-Ticket!</a></li>
                 <li><a href="javascript:void(0)" onclick="saludo()">Contacto</a></li>  
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
    
     <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">            
          </div><!-- /.span4 --> 
        
        <div class="span4">  
          <br>
                <p>Horarios de Tegucigalpa a Juticalpa</p>
          <table  border="1" cellpadding="1" cellspacing="1" class="table table-condensed">
            <tr>
              <th>Origen</th>
              <th>Destino</th>
              <th>Horarios</th>
              <th>Descripcion</th>
            </tr>
            <tr>
              <td>Tegucigalpa</td>
              <td>Juticalpa</td>
              <td>sale.06:15
                   lle.09:15</td>
               <td>Bus: duración: 3:30h</td>
            </tr>
            <tr>
              <td>Tegucigalpa</td>
              <td>Juticalpa</td>
              <td>sale. 06:45
                lle. 10:15</td>
              <td>Bus: duración: 3:30h, continúa a Catacamas</td>
            </tr>
             <tr>
               <td>Tegucigalpa</td>
               <td>Juticalpa</td>
                <td>sale. 07:45
                lle. 11:15</td>
            </tr>
            <tr>
               <td>Tegucigalpa</td>
               <td>Juticalpa</td>
                <td>sale. 08:30
                lle. 11:30</td>
            </tr>
             <tr>
               <td>Tegucigalpa</td>
               <td>Juticalpa</td>
                <td>sale. 08:45
                lle. 12:15</td>
            </tr>
             <tr>
               <td>Tegucigalpa</td>
               <td>Juticalpa</td>
                <td>sale. 09:15
                lle. 12:30</td>
            </tr>
               <tr>
               <td>Tegucigalpa</td>
               <td>Juticalpa</td>
                <td>sale. 09:45
                lle. 13:15</td>
            </tr>
              <tr>
               <td>Tegucigalpa</td>
               <td>Juticalpa</td>
                <td>sale. 10:15
                lle. 13:30</td>
            </tr>
    </table>                  
       </div><!-- /.span4 --> 
      </div><!-- /.row -->
   </div>
  