// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-bottom: 40px;
  color: black;
  background-color:#eeeceb;
  #background-image: image-url("meta.jpg");
}
h2{
  color: black;
}
p{
  color:black;
}
.carousel-inner>.item>img {
margin: 0 auto;
height: 320px;
}

navbar-wrapper{
color:#fff;
}
